doctype html
html(ng-app="movieApp")
    head
        title Movie App
        meta(charset='utf-8')
        link(href = 'vendors.css', rel = 'stylesheet')
        link(href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel = 'stylesheet')
    body
        .header
            .container
                .page-header
                    h1
                        a(href="#/") MovieApp
                    p.lead Yout Resource for Movie Data
                .div(ng-controller='SearchController')
                    form.form-inline-lg(ng-submit='search()')
                        .input-group
                            input.form-control(type='text', ng-model='query')
                            span.input-group-btn
                                button.btn.btn-default(type='button', ng-click='search()') Go!
        .container
            div(ng-view="")
        .footer
            .container
                p From @AFelipeTrujillo
    script(src='vendors.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js')
    script(src='app.js')