div
    br
    ol.breadcrumb
        li
            a(ng-href='#/') Home
    uib-accordion.panel-default
        div( ng-repeat='result in  results' is-open='result.open' uib-accordion-group heading='{{result.Title}}')
            